In [1]:
!pip install numpy pandas matplotlib seaborn --quiet

In [2]:
!pip install jovian opendatasets xgboost graphviz lightgbm scikit-learn xgboost lightgbm --upgrade --quiet

In [3]:
import os
import opendatasets as od
import pandas as pd
pd.set_option("display.max_columns", 120)
pd.set_option("display.max_rows", 120)

In [5]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\aksom\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: python-slugify in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3 in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: python-dateutil in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Requirement already satisfied: requests in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: six>=1.10 in c:\users\aksom\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\aksom\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aksom\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aksom\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
ross_df=pd.read_csv('train.csv')

C:\Users\aksom\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
ross_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [15]:
ross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB